html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
body {
    padding-top:70px;
    font-family: Arial, sans-serif;
}

.account-list tr.odd {
    background: #eee;
}

.account-list tr.level-2 td {padding-left:30px;}
.account-list tr.level-3 td {padding-left:60px;}
.account-list tr.level-4 td {padding-left:90px;}
.account-list tr.level-5 td {padding-left:120px;}
.account-list tr.level-6 td {padding-left:150px;}
.account-list tr.level-7 td {padding-left:180px;}
.account-list td.sum {
    text-align: right;
}
.account-list .toggle {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.account-list .toggle b {
    display: none;
    font-weight: bold;
}
.account-list .toggle.active b {
    display: block;
}

.padding {
    padding:0.4em;
}

.no-margin {
    margin: 0;
}